<div class="row">
<div class="col-md-8">
<form method="post" action="/contact">


     
   <h3>Application</h3>
<br>
    <h4>Please describe why you should be hired.</h4>
	<br>
	<div class="row">
 		 <div class="col-md-1"> <label for="name">Name</label>	</div>
 		 <div class="col-md-11"><input type="text" id="name" name="name" placeholder="e.g. John"/>	</div>
	</div>
	<br>
	<br>
	<div>
	<label for="address">Address</label>
	<input type="text" id="address" name="address" placeholder="e.g. 123 Elms st." />
	<br>
	<br>
	<label for="department">Department</label>
	<input type="radio" name="department" value="sales" checked/> Sales
	<input type="radio" name="department" value="marketing" /> Marketing
	<input type="radio" name="department" value="technical" /> Technical
	<br>
	<br>
	<label for="note">Message</label>
	<textarea cols="50" rows="4" name="note"> </textarea>
	<br>
	<input type="submit" value="Save" />
	</form>
	</div>

	



	<a href="/listing">Check out who has applied!</a>
